In [1]:
import pandas as pd
import numpy as np

In [9]:
from sklearn.datasets import load_iris
iris=load_iris()

In [34]:
cols =["sepal length (cm)","sepal width (cm)","petal length (cm)","petal width (cm)","type"]
df=pd.read_csv("iris.csv",names=cols)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),type
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [37]:
target_data=df["type"]
target_data.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: type, dtype: object

In [38]:
feature_cols=list(df.columns)

In [39]:
feature_cols.remove("type")

In [40]:
feature_data=df[feature_cols]

In [42]:
feature_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [46]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()

In [47]:
feature_data_tf=mm.fit_transform(feature_data)

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
trainX, testX, trainY, testY = train_test_split(feature_data_tf, target_data)

In [51]:
from sklearn.neighbors import KNeighborsClassifier

In [52]:
knnc = KNeighborsClassifier()

In [53]:
knnc.fit(trainX,trainY)

KNeighborsClassifier()

In [54]:
knnc.score(testX,testY)

0.9736842105263158

In [58]:
knnc.predict(testX[:5])

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa'], dtype=object)